<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="welcome-message">
                <h2>Welcome to the Placement Cell Application</h2>
                <p>This application helps manage hiring processes and scheduling interviews efficiently.</p>
                <p>Explore the navigation menu above to get started!</p>
            </div>
        </div>
    </div>
</div>
